PORT=3000
DATABASE_URL="postgresql://admin@localhost:5432/linkkwork_dev"
REDIS_HOST="127.0.0.1"
REDIS_PORT=6379
JWT_SECRET="linkkwork_super_secret_jwt_key_2026"
JWT_REFRESH_SECRET="linkkwork_refresh_secret_key_2026"
